@use "sass:math";
@import "./theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

#editor {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  padding: $spacing;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
}

#editor.editor__hidden {
  display: none;
}

#editor > .editor__pane {
  position: relative;
  order: 1;
  font-family: $fonts-ubuntu;

  background: $primary;
  color: white;
  margin: $spacing;

  box-shadow: 0.3rem 0.3rem 0.3rem 0.1rem rgba(darken($very-dark, 7), 0.6);
}

#editor > .editor__pane > .editor__pane-container {
  padding: $spacing;
  box-sizing: border-box;
  overflow-y: hidden;

  height: 100%;
  display: flex;
  flex-direction: column;
}

#editor > .editor__pane > .editor__pane-disabled-overlay {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: $spacing;
  box-sizing: border-box;

  backdrop-filter: grayscale(0.4) blur(0.3rem);
}

#editor
  > .editor__pane
  > .editor__pane-disabled-overlay
  > .editor__pane-disabled-reason {
  font-size: 1.3rem;
  text-align: center;
}

// Place boxes in a (1-3-5) - (2-4-6) layout
#editor > .editor__pane:nth-child(even) {
  order: 2;
}

#editor > .editor__pane > .editor__pane-container > .editor__pane-body {
  height: 100%;
  overflow-y: auto;

  &:has(.editor__pane-empty-node-list) {
    overflow-y: hidden;
  }
}

#editor > .editor__pane > .editor__pane-container > .editor__pane-title {
  font-size: 2rem;
  cursor: default;
  user-select: none;
}

#editor
  > .editor__pane
  > .editor__pane-container
  > .editor__pane-body
  > .editor__pane-empty-node-list {
  display: flex;
  height: 80%;

  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  padding: $spacing * 2;
  box-sizing: border-box;

  p {
    color: $on-dark-pale;
    margin-top: $spacing * 3;
  }
}

#editor > #node-list {
  display: flex;
  flex-direction: column;
  padding: $spacing;
}

#node-list > .node {
  @include dropShadow();
  padding: $spacing;
  background: $primary;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  transition: filter $transition-time, box-shadow $transition-time;
  cursor: pointer;
}

#create-node {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#create-node > #create-node__error {
  color: $error;
  margin: $spacing;
  text-align: right;
  margin-top: 0;
}

#create-node > #create-node__button-container {
  display: flex;
  justify-content: flex-end;
  padding: $spacing;

  .button {
    cursor: pointer;
  }
}

.rule {
  @include dropShadow();
  padding: $spacing;
  margin: math.div($spacing, 3);
}

.rule > .rule__name {
  font-size: 1.1rem;
}

$ruleBranchRowHeight: 100px;

.rule > .rule__branches {
  height: $ruleBranchRowHeight;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.rule > .rule__branches > .rule_branch > img {
  height: $ruleBranchRowHeight;
}

// ========== Media queries
@media only screen and (max-width: 1000px) {
  #editor {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  #editor > .editor__pane:nth-child(even) {
    order: 1;
  }
}

@media only screen and (max-width: 600px) {
  #editor {
    display: flex;
    flex-direction: column;
  }

  #editor > .editor__pane {
    height: 100%;
  }
}
