@import "./theme.scss";
@import "./components/tabs.scss";

#app > .app__layer {
  height: 100%;
  width: 100%;

  top: 0;
  left: 0;

  position: absolute;
  background: transparent;
  pointer-events: painted;
}

.app__layer#canvas {
  background: $very-dark;
}

#app > .app__layer > * {
  background: $very-dark;
}

// ========== Resetting annoying stuff
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

* {
  -webkit-user-drag: none;
}

// Custom scrollbar
* {
  scrollbar-color: $primary-bright;
  scrollbar-width: 1rem;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    @include dropShadow();
    background: $very-dark;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-bright;
    outline: none;
    border: none;
  }
}

* {
  box-sizing: border-box;
}
