@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

$very-dark: #171520;
$primary-dark: #241b2f;
$primary: #262335;

$on-primary: #e2e2e2;

$spacing: 1rem;
$transition-time: 0.2s;

$fonts-ubuntu: "Ubuntu", sans-serif;
